.cards{
    width: 200px;
    height: 100%;
    margin: 50px;
    /* padding: 50px; */
}
.cards img{
    width: 200px;
}

button{
    background-color: #d1d5db;
    color: hsl(196, 74%, 6%);
    border: none;
    padding: 7px 15px;
    width: 100%;
}
.product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
}
